.no-products {
    margin-top: 1.5rem;
    background-color: var(--color-card);
    padding: 90px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    color: var(--color-text-secondary);
}

.no-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.no-product img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.4rem;
}